<% title @quiz.title %>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-10 mx-auto mt-5">
                    <div class="bg-light mb-1">
                            <%= link_to @quiz, class:"font-weight-bold text-dark text-decoration-none" do %>
                                <h1><%= @quiz.title %></h1>
                            <% end %>
                        <% if @quiz.title_img.present? %>
                            <div class="embed-responsive mx-auto">
                                <%= image_tag "#{@quiz.title_img}" %>
                                <% if @quiz.title_img_url.present? %>
                                    <p class="text-muted">引用：<%= @quiz.title_img_url %></p>
                                <% end %>
                            </div>
                        <% end %>
                        <div class="pb-3" style="text-align: center;word-break: break-all;">                        
                            <%= simple_format(@quiz.description, {}, wrapper_tag: "div", sanitize: false) %>
                        </div>
                    </div>
                        <div class="bg-light py-1" id="top_position">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                        <%= link_to "/quizzes/list?search=#{@quiz.author}" do %>
                                        <%= image_tag "#{@quiz.author_image}", class:" rounded-circle" %>
                                        <% end %>
                                        </td>
                                        <td class="font-weight-bold">
                                        <%= link_to "/quizs/list?search=#{@quiz.author}" do %>
                                            <%= @quiz.author %>
                                        <% end %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <% if @quiz.theme1.present? %>
                                        <% end %>
                                        <td colspan="3">
                                            <% if @quiz.theme1.present? %>
                                            <span class="border bg-white"><i class="fa fa-tag" aria-hidden="true"></i><%= link_to "#{@theme0}" ,"/quizzes/list?search=#{@theme0}" %></span>
                                            <% end %>
                                            <% if @quiz.theme2.present? %>
                                            <span class="border bg-white"><i class="fa fa-tag" aria-hidden="true"></i><%= link_to "#{@theme1}" ,"/quizzes/list?search=#{@theme1}" %></span>
                                            <% end %>
                                            <% if @quiz.theme3.present? %>
                                            <span class="border bg-white"><i class="fa fa-tag" aria-hidden="true"></i><%= link_to "#{@theme2}" ,"/quizzes/list?search=#{@theme2}" %></span>
                                            <% end %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <% if params[:user_name].nil? %>
                        <%= render 'name', quiz: @quiz %>
                    <% else %>
                        <%= render 'result', quiz: @quiz %>
                    <% end %>

                <%= render 'create_quiz', quiz: @quiz %>
            </div>
        </div>
    </div>
</div>