<div class="mb-5 col-xs-4 col-md-8 mx-auto">
    <div class="bg-light p-3"><i class="fa fa-file-o" aria-hidden="true"></i>新着クイズ診断</div>
        <% @quizzes.each do |quiz| %>
            <div class="bg-warning p-1 mb-3 rounded">
                <ul class="list-group">
                    <%= link_to quiz, class:"font-weight-bold" , data: {"turbolinks" => false} do %>
                        <% if quiz.title_img.present? %>
                            <li class="list-group-item">
                                <div class="embed-responsive mx-auto">
                                    <%= image_tag "#{quiz.title_img}" %>
                                </div>
                            </li>
                        <% end %>
                        <li class="list-group-item">
                        <%= quiz.title %>                                      
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted"><%= quiz.description %></span>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    <%= link_to "/quizzes/list", class:"btn btn-sm btn-light float-right mb-3 mr-2" do %>もっと見る<% end %>
</div>
