<div class="mb-5 col-xs-4 col-md-8 mx-auto">
    <div class="bg-light p-3"><i class="fa fa-file-o" aria-hidden="true"></i>新着名前診断</div>
    <% @tests.each do |test| %>
        <div class="bg-warning p-1 mb-3 rounded">
            <ul class="list-group">
                <%= link_to test, class:"font-weight-bold" do %>
                    <% if test.title_img.present? %>
                        <% if test.title_img_option == '1' %>
                        <%    img_file = "<img src=" + "#{test.title_img}" + ' alt="タイトル画像">' %>
                        <%    test.title_img = img_file %>
                        <% elsif test.title_img_option == '2' %>
                        <%    movie_file = "<iframe class=" + "embed-responsive-item" +  %>
                        <%    " src=" + "https://www.youtube.com/embed/" +  "#{test.title_img[32..42]}" + " frameborder=" + "0" + %>
                        <%    " allow=" + "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" + " allowfullscreen></iframe>" %>
                        <%    test.title_img = movie_file %>
                        <% end %>
                        <li class="list-group-item">
                            <%= simple_format(test.title_img, {}, wrapper_tag: "div", sanitize: false, class:"w-50 h-50") %>
                        </li>
                    <% end %>
                    <li class="list-group-item">
                    <%= test.title %>                                      
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted"><%= test.description %></span>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= link_to "/tests/list", class:"btn btn-sm btn-light float-right mb-3 mr-2" do %>もっと見る<% end %>
</div>