<% description @test.title %>
<div class="bg-warning p-3 my-3 rounded" id="ogp-image">
    <div class="font-weight-bold h3">診断結果</div>
    <div class="bg-white border border-dark">
        <div class="my-5 h2">
            <%= simple_format(@test.basic_text, {}, wrapper_tag: "div", sanitize: false) %>
        </div>
    </div>

    <div class="text-wrap">
        <% if @cite_img0.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img0 %></small>
        <% end %>
        <% if @cite_img1.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img1 %></small>
        <% end %>
        <% if @cite_img2.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img2 %></small>
        <% end %>
        <% if @cite_img3.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img3 %></small>
        <% end %>
        <% if @cite_img4.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img4 %></small>
        <% end %>
        <% if @cite_img5.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img5 %></small>
        <% end %>
        <% if @cite_img6.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img6 %></small>
        <% end %>
        <% if @cite_img7.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img7 %></small>
        <% end %>
        <% if @cite_img8.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img8 %></small>
        <% end %>
        <% if @cite_img9.present? %>
            <small class="text-muted text-wrap">引用：<%= @cite_img9 %></small>
        <% end %>
    </div>
</div>

<div class="bg-warning p-3 rounded">
    <div class="bg-white border border-dark py-3">
    <%= link_to @twitter_url, :onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;", class:"twitter-share-button" do %>
        <div class="btn btn-primary btn-lg" id="twitter_btn">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>　診断結果をツイート！
        </div>
    <% end %>
    </div>
</div>

<div class="bg-warning p-3 rounded my-3">
    <div class="bg-white border border-dark py-3">
        <span class="font-weight-bold">こめんとメーカーが気に入ったら、↓こちら↓も押してくれると嬉しいです。</span>
        <%= link_to @follow_url, :onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;", class:"twitter-share-button" do %>
        <div class="btn btn-primary btn-lg">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>　！こめんとメーカーをフォローする！
        </div>
        <% end %>
    </div>
</div>

<div class="bg-warning rounded">
    <div class="bg-white border border-dark py-3">
        <span class="font-weight-bold">別の名前でもう一度診断したい人は↓こちら↓</span>
    </div>
</div>

<%= render 'name', test: @test %>