<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%= display_meta_tags(default_meta_tags) %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', defer: 'defer' %>
        <%= javascript_include_tag 'application','data-turbolinks-track': 'reload', defer: 'defer' %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script> 
        <%= favicon_link_tag('favicon.ico') %>
        <%= csrf_meta_tags %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-165819452-1"></script>
        <script defer>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-165819452-1');
        </script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js" defer></script>
        <script data-ad-client="ca-pub-5952411584833384" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </body>
</html>
